body {
  margin: 10px auto;
  width: 100%;
}

.pane {
  margin: 20px;
  height: 370px;
  width: 500px;
  position: fixed;
  right: 0px;
  top: 0%;
  background: #29829d;
}

.remove-button {
  font-size: 110%;
  color: darkred;
  right: 10px;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  cursor: pointer;
  float: right;
  margin: 10px;
}

.checkbox {
  float: left;
}
.panel {
  float: right;
}
